In [1]:
# Importing pandas for data analysis
import pandas as pd

In [2]:
# Defining the path to Excel file
excel_path = r'C:\Users\dell\retail_customer_dashbord\data\online_retail.xlsx'

In [3]:
# Load each sheet into a separate DataFrame
df_2009 = pd.read_excel(excel_path,sheet_name = 'Year 2009-2010')
df_2010 = pd.read_excel(excel_path,sheet_name = 'Year 2010-2011')

In [4]:
# Print shape to understand the size of sheet 1 dataset
print("2009-2010 Shape" , df_2009.shape)

2009-2010 Shape (525461, 8)

In [5]:
# Print shape to understand the size of sheet 2 dataset
print("2010-2011 Shape", df_2010.shape)

2010-2011 Shape (541910, 8)

In [6]:
# Preview the first few rows of one sheet to check structure
df_2009.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [7]:
# Add a 'Year' column to each before merging (optional but useful)
df_2009['Year'] = 2009
df_2010['Year'] = 2010

In [8]:
# Combine both datasets into one
df_merged = pd.concat([df_2009 , df_2010] , ignore_index = True)

In [9]:
# Show the shape and preview of the combined data
print("Merged dataset shape:" , df_merged.shape)

Merged dataset shape: (1067371, 9)

In [10]:
df_merged.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009

In [13]:
# Remove rows with missing CustomerID or Description
df_cleaned = df_merged.dropna(subset=['Customer ID','Description'])

In [14]:
# Remove canceled orders (InvoiceNo starting with 'C')
df_cleaned = df_cleaned[~df_cleaned['Invoice'].astype(str).str.startswith('C')]

In [15]:
# Remove negative or zero Quantity and UnitPrice
df_cleaned = df_cleaned[(df_cleaned['Quantity'] > 0) & (df_cleaned['Price'] > 0)]

In [16]:
# Convert InvoiceDate to datetime
df_cleaned['InvoiceDate'] = pd.to_datetime(df_cleaned['InvoiceDate'])

In [17]:
# Add TotalAmount column
df_cleaned['TotalAmount'] = df_cleaned['Quantity'] * df_cleaned['Price']

In [19]:
# Convert data types to save memory (optional but useful for big datasets)
df_cleaned['Customer ID'] = df_cleaned['Customer ID'].astype(str)
df_cleaned['StockCode'] = df_cleaned['StockCode'].astype(str)

In [20]:
# Add derived time features (optional for dashboard filtering later)
df_cleaned['Month'] = df_cleaned['InvoiceDate'].dt.month
df_cleaned['Day'] = df_cleaned['InvoiceDate'].dt.day
df_cleaned['Hour'] = df_cleaned['InvoiceDate'].dt.hour

In [22]:
df_cleaned.to_csv("preprocessed_customer_data.csv", index=False)

In [23]:
df = pd.read_csv("preprocessed_customer_data.csv")

In [24]:
import os
print(os.path.abspath("pre_processed.csv"))

C:\Users\dell\retail_customer_dashbord\notebooks\pre_processed.csv